.gradient-custom {
    /* fallback for old browsers */
    
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(37, 117, 252, 1))
    }

.login{
    color: black !important;
    width: 400px;
    margin: auto auto;
    margin-top: 200px;
}

.form-outline{
    margin-top: 50px !important;
}
.login input{
    border: .2px solid grey;
}

